<footer class="footer-redesign">
  <div class="footer-redesign-container">
    <div class="footer-col footer-brand">
      <a href="https://civictechwr.org">
        <picture>
          <source srcset="/images/logos/civictechwr_logo_black.webp" type="image/webp" />
          <img src="/images/logos/civictechwr_logo_black.png" alt="CivicTechWR Logo" class="footer-brand-logo" width="120">
        </picture>
      </a>
      <div class="footer-brand-mission">Our mission is to bring together people from different sectors and industries to actively solve issues facing our local community using design and technology.</div>
    </div>

    <div class="footer-col footer-support">
      <div class="footer-col-title">STAY CONNECTED</div>
      <div class="footer-support-text">Subscribe to our newsletter for updates on events, projects, and community news.</div>
      <div id="mc_embed_signup" class="footer-newsletter">
        <form action="https://civictechwr.us11.list-manage.com/subscribe/post?u=70e9ca4ba196596a75a7b6a3e&amp;id=e8b89282ec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div id="mc_embed_signup_scroll">
            <input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your@email.com" required="" aria-label="Email Address">
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
              <input type="text" name="b_70e9ca4ba196596a75a7b6a3e_e8b89282ec" tabindex="-1" value="">
            </div>
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn--primary" value="Subscribe">
          </div>
        </form>
      </div>
      <div><br /></div>
      <div class="footer-support-text">Interested in sponsoring us or pitching in for pizza and drinks? We'd love to talk to you</div>
      <a class="btn btn--donate" href="https://buy.stripe.com/cN24hE161goQcZa8wx" target="_blank" rel="noopener noreferrer"><svg class="btn__icon icon" width="16" height="16"><use href="#icon-heart"></use></svg> Donate</a>
      <a class="btn btn--donate" href="mailto:civictechwr@gmail.com" target="_blank" rel="noopener noreferrer"><svg class="btn__icon icon" width="16" height="16"><use href="#icon-handshake"></use></svg> Sponsor Us</a>
    </div>

    <div class="footer-col footer-links">
      <div class="footer-col-title">SITEMAP</div>
      <ul class="footer-links-list">
        <li><a href="https://civictechwr.org">Homepage</a></li>
        <li><a href="/projects.html">Featured Projects</a></li>
        <li><a href="/about.html">About Us</a></li>
        <li><a href="https://civictechwr.github.io/blog/">Blog</a></li>
        <li><a href="https://discourse.ctwr.org/">Member Dashboard</a></li>
        <li><a href="https://civictechwr.github.io/CTWR-Organization-Documentation/FAQ">Frequently Asked Questions (FAQ)</a></li>
      </ul>
    </div>

    <div class="footer-col footer-connect">
      <div class="footer-col-title">HELPFUL LINKS</div>
      <ul class="footer-links-list">
        <li><a href="https://civictechwr.github.io/CTWR-Organization-Documentation/Guidelines_&_Templates/Template_Pitching/">How to Pitch (Start of Season)</a></li>
        <li><a href="https://civictechwr.github.io/CTWR-Organization-Documentation/Guidelines_&_Templates/Demo_Slides_Template/">Template Slides (End of Season)</a></li>
        <li><a href="https://civictechwr.github.io/CTWR-Organization-Documentation/Guidelines_&_Templates/Guidline_Seasons/">Expected Season Timeline</a></li>
        <br>
        <li><a href="https://civictechwr.github.io/CTWR-Organization-Documentation/policies/Code_of_Conduct">Code of Conduct</a></li>
        <li><a href="https://civictechwr.github.io/CTWR-Organization-Documentation/policies/Diversity_and_Inclusion_Policy">Diversity and Inclusion Policy</a></li>
        <li><a href="https://civictechwr.github.io/CTWR-Organization-Documentation/Guidelines_&_Templates">Other Guidelines & Templates</a></li>
      </ul>
      <ul class="footer-links-list">
        <li><a class="btn btn--footer" href="https://luma.com/civictechwr"><svg class="btn__icon icon" width="16" height="16"><use href="#icon-calendar-alt"></use></svg> Upcoming Hacknight</a></li>
        <li><a class="btn btn--footer" href="https://join.slack.com/t/civictechwr/shared_invite/zt-2hk4c93hv-DEIbxR_z1xKj8cZmayVHTw" target="_blank" rel="noopener noreferrer"><svg class="btn__icon icon" width="16" height="16"><use href="#icon-slack"></use></svg> Join us on Slack</a></li>
        <li><a class="btn btn--footer" href="https://feedback.ctwr.org/"><svg class="btn__icon icon" width="16" height="16"><use href="#icon-comment-dots"></use></svg> Submit Feedback</a></li>
      </ul>
    </div>
  </div>

    <div class="text-center col-12">
      <div class="footer-social-icons">
        <a href="https://www.linkedin.com/company/civictechwr" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn"><svg class="icon" width="24" height="24"><use href="#icon-linkedin"></use></svg></a>
        <a href="https://instagram.com/civictechwr" target="_blank" rel="noopener noreferrer" aria-label="Instagram"><svg class="icon" width="24" height="24"><use href="#icon-instagram"></use></svg></a>
        <a href="https://twitter.com/civictechwr" target="_blank" rel="noopener noreferrer" aria-label="X (formerly Twitter)"><svg class="icon" width="24" height="24"><use href="#icon-x"></use></svg></a>
        <a href="https://facebook.com/civictechwr" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><svg class="icon" width="24" height="24"><use href="#icon-facebook"></use></svg></a>
        <a href="https://civictechwr.github.io/blog/" target="_blank" rel="noopener noreferrer" aria-label="Medium"><svg class="icon" width="24" height="24"><use href="#icon-medium"></use></svg></a>
        <a href="mailto:civictechwr@gmail.com" target="_blank" rel="noopener noreferrer" aria-label="Email"><svg class="icon" width="24" height="24"><use href="#icon-envelope"></use></svg></a>
      </div>
      <div class="footer-copyright-wrapper"><p>Civic Tech Waterloo Region | All rights reserved</p></div>
    </div>

</footer>